- content_for(:panel_body) do
  - @files.each do |k,v|
    - panel_class = k.include?('stderr') ? 'panel-danger' : 'panel-success'
    - key = k.gsub(/[^A-Za-z0-9]/, '')
    - content_for("panel_header_#{key}") do
      %h4.panel-title
        %a.accordion-toggle{'data-toggle' => 'collapse', :href => "##{key}-display"}
          %b=k
    - content_for("panel_body_#{key}") do
      %div.panel-collapse.collapse{:id => "#{key}-display"}
        %pre{:id => "##{key}-display"}~ v

    = render(:partial => 'layouts/panel',                      |
             :locals => {                                      |
               :heading => content_for("panel_header_#{key}"), |
               :panel_class => panel_class,                    |
               :panel_content => content_for("panel_body_#{key}") })

= render(:template => 'jobs/details')
