%div#fission-job.container.container-padding
  %div.panel{:class => "panel-#{@state}"}
    %div.panel-heading
      %h3
        Nellie Job:
        = @job.message_id
    %div.panel-body
      %table.table.table-hover
        %tr
          %td
            %b
              Timestamp
          %td= @job.created_at.strftime('%Y/%m/%d %H:%M:%S')
        %tr
          %td
            %b
              Status
          %td{:class => "text-#{@state}"}
            %b= @job.status.to_s.humanize
        - if @job.status == :error
          %tr
            %td.text-danger
              %b Error Message
            %td= @job.payload.fetch(:error, :reason, 'No reason available')
        %tr
          %td
            %b
              Completed
          %td= "#{@job.percent_complete}%"
      - @files.each do |k,v|
        %div.panel{:class => k.include?('stderr') ? 'panel-danger' : 'panel-success'}
          %div.panel-heading
            %h4.panel-title
              %a.accordion-toggle{'data-toggle' => 'collapse', :href => "##{k.gsub(/[^A-Za-z0-9]/, '')}-display"}
                %b=k
          %div.panel-collapse.collapse{:id => "#{k.gsub(/[^A-Za-z0-9]/, '')}-display"}
            %div.panel-body
              %pre{:id => "##{k.gsub(/[^A-Za-z0-9]/, '')}-display"}~ v
